<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Employment Verification Form{% endblock %}</title>

  {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/user-register.css') }}">
    <link rel="stylesheet" href="{{ asset('css/unicons.css') }}">
  {% endblock %}
   
 </head>

<body>
  <nav class="navbar navbar-expand-sm navbar-light">
      <div class="container">
          <a class="navbar-brand" href="../../public/index.php"><i class='uil uil-lock-access'></i> SSO ID</a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              <span class="navbar-toggler-icon"></span>
              <span class="navbar-toggler-icon"></span>
          </button>
      </div>
  </nav>

  <main class="my-form">
    <div class="cotainer">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header">Register</div>
              <div class="card-body">
                {{ form_start(form,{'attr': {novalidate:'novalidate', class:'needs-validation', id:'form'}})}}
                  <div class="form-group row">
                      <label for="nik" class="col-md-4 col-form-label text-md-right">NIK<span>*</span></label>
                      <div class="col-md-6">
                          {{form_widget(form.nik)}}
                        <small></small>
                      </div>
                  </div>
                  <div class="form-group row">
                    <label for="nama" class="col-md-4 col-form-label text-md-right">Nama<span>*</span></label>
                    <div class="col-md-6">
                      <div>
                        {{form_widget(form.nama_depan, { 'attr': {'class': "span12",
                          'placeholder': 'Nama Depan'} })}}
                        <small></small>
                      </div>
                      <div>
                        {{form_widget(form.nama_belakang, { 'attr': {'class': "span12",
                          'placeholder': 'Nama Belakang'} })}}
                        <small></small>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="password" class="col-md-4 col-form-label text-md-right">Password<span>*</span></label>
                    <div class="col-md-6">
                      <div>
                        {{form_widget(form.password.first, { 'attr': {'class': "span12",
                          'placeholder': 'Password'} })}}
                        <small></small>
                      </div>
                      <div>
                        {{form_widget(form.password.second, { 'attr': {'class': "span12",
                          'placeholder': 'Konfirmasi Password'} })}}
                        <small></small>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="email" class="col-md-4 col-form-label text-md-right">Email<span>*</span></label>
                    <div class="col-md-6">
                      {{form_widget(form.email)}}
                      <small></small>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="phone_number" class="col-md-4 col-form-label text-md-right">Upload KTP<span>*</span></label>
                    <div class="col-md-6">
                      {{form_widget(form.ktp)}}
                      <small></small>
                    </div>
                  </div>
                    <div class="col-md-6 offset-md-4">
                        <button type="submit" name="submit" id="submit" class="btn btn-primary">
                        Register
                        </button>
                    </div>
                  </div>
                {{ form_end(form)}}
              </div>
            </div>
          </div>
      </div>
      </div>
    </div>
  </main>
</body>
   <script src="{{ asset('js/register.js') }} "></script>
</html>
